@use '../abstract/mixin.scss' as mix;
@use '../abstract/variables.scss' as var;

.index_body {
    @include mix.flexbox;
    height: 100vh;
    background-color: var.$primary_dark;
    overflow: hidden;
}

.start_screen {
    &__content {
        @include mix.flexbox;
        gap: 104px;
    }

    &__p {
        font-family: 'Almarai', serif;
        padding: 16px 0;
        margin: 0;
        font-size: 48px;
        color: rgba(255, 255, 255, 1);
    }

    &__img {
        position: absolute;
        width: clamp(200px, 29vw, 320px);
        height: auto;
        left: -60px;
        bottom: 5px;
    }

    &__title {
        padding: 16px 0;
    }
}