@use './assets/button.scss';
@use './pages/startscreen.scss';

body {
    margin: 0;
    font-family: 'Red Rose', serif;
    font-weight: 400;
}

h1 {
    font-size: 136px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    font-weight: 700;
}